:root{
  --sky-blue: #01CAFC;
  --dark-blue: #0183FC;
  --purple: #9A02FF;
  --grey: #868686;
}

/* GENERALS */
h3 {
  color: var(--grey);
  border-bottom: 1px solid var(--sky-blue);
  padding: 0 0 10px;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: #FFFFFF;
}

img{ width: 150px; }

.grid { display: grid; }

.container {
  width: 90vw;
  margin: 40px auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}

.btn {
  text-align: center;
  background-color: var(--sky-blue);
  color: #FFFFFF;
  box-shadow: rgb(0 0 0 / 35%) 0px 10px 10px -3px;
  padding: 20px 0;
  margin: 30px 0;
  transition: all ease-in-out .3s;
}

.btn:hover {
  background-color: var(--dark-blue);
  transition: all ease-in-out .3s;
}

/* HEADER */
.navbar {
  display: flex;
  background-color: var(--sky-blue);
  padding: 0 20px;
  color: #FFFFFF;
}

.navbar a {
  padding: 25px 10px;
  transition: all ease-in-out .3s;
}

.navbar a:hover {
  background-color: var(--dark-blue);
  transition: all ease-in-out .3s;
}

.navbar p{
  flex-grow: 1;
  text-align: end;
}

.navbar p span {
  background-color: var(--purple);
  margin-right: 10px;
  border-radius: 50px;
  border: 2px solid;
  padding: 5px;
}

/* FORM */
.form-container{
  width: 80vw;
  margin: 0 auto;
}

.form label{ font-size: 14px; }

.form input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--sky-blue);
  height: 30px;
  margin-bottom: 30px;
  font-size: inherit;
}

.row {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.form span{ font-weight: bold; }

.register-link {
  color: var(--sky-blue);
  text-align: end;
}

.register-link:hover { color: var(--dark-blue); }

/* DASHBOARD */
.card{
  box-shadow: rgb(0 0 0) 0px 0px 5px -2px;
  padding: 0 16px 16px;
}

.card-container:not(#available-country) {
  height: calc(100% - 75px); /* 75px = FONT-SIZE + MARGIN + PADDING (TOP Y BOTTOM) DEL TITULO (H3) + PADDING (TOP Y BOTTOM) DE .CARD */
}

#weather, #country { grid-template-columns: repeat(2, 1fr); }

aside.card { grid-area: 1/3 /4; }

aside .card-container {
  grid-template-columns: 60px auto;
  gap: 15px;
}

#available-country img{ width: 50px; }

#hour p, #temperature p, #country p{
  text-align: center;
  margin: 0;
  font-size: 40px;
}

#temperature, .card-container img, .card-container:not(#available-country) p { place-self: center; }

#temperature span{ font-weight: bold; }

.card-container li { margin: 15px 0; }

#timezone ul li {
  width: fit-content;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

#timezone ul li:hover {
  color: var(--dark-blue);
  transition: all ease-in-out .3s;
}

/* USER */
table{
  width: 100%;
  border-collapse: collapse;
}

th, td { padding: 10px 5px; }

th {
  text-align: left;
  font-weight: normal;
}

td { border-top: 1px solid var(--grey); }